html {
  background-color: #fafbfd;
}

.conntent-nav {
  width: 1146px;
  margin: 0 auto;
}

.logo-name {
  vertical-align: middle;
  font-size: 24px;
}

.title-left {
  height: 100%;
  line-height: 80px;
  float: left;
  color: white;
  font-size: 20px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.nav-item {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.box-right {
  width: 400px;
  float: right;
}

.box-right .links {
  margin-left: 30px;
  float: right;
  height: 100%;
  cursor: pointer;
  color: white;
  font-size: 20px;
  line-height: 80px;
}

.box-right .links:active {
  color: #ccc;
}

.reps-info {
  padding: 30px 20px;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.reports {
  padding-bottom: 50px;
}

.info-reports .reps-title {
  line-height: 56px;
  height: 56px;
  font-size: 18px;
}

.table-title {
  margin-top: 40px;
}

.info-reports .bline {
  left: 8px;
  position: absolute;
  width: 1084px;
  top: 236px;
  border-top: 1px solid #ccc;
}

.itemboxs {
  padding: 15px;
  float: left;
  min-height: 50px;
}

.itemboxs:nth-child(1) {
  border-right: 1px solid #e6e6e6;
}

.icon {
  margin-left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.topnames {
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #999;
}

.icon-error {
  color: rgb(211, 57, 65);
}

.icon-zhengque {
  font-size: 20px;
  color: #31c15a;
}

.icon-warning {
  font-size: 20px;
  color: #ffba1d;
}

.icon-cuowu {
  font-size: 20px;
  color: #fa4b4b;
}

.apge {
  width: 130px;
}

.apge .icon-zhengque,
.apge .icon-cuowu,
.apge .icon-warning {
  font-size: 22px;
}

.botvals {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
  color: #333;
}

.table-data {
  width: 50%;
  height: 50px;
  float: left;
}

.table-show {
  border-right: none;
  margin-top: 20px;
  border-bottom: none;
}

.table-data .table_right {
  border-left: none;
}

.table_left,
.table_right {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  text-align: center;
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.tabs-box {
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid #e6e6ee;
}

.tabs {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  user-select: none;
}

.tabs-item {
  float: left;
  list-style: none;
  height: 50px;
  width: 120px;
  line-height: 50px;
  font-size: 14px;
  color: #999;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.tabs-item.actived {
  color: #333;
  border-bottom: 2px solid #4088f6;
}

.tabs-item .num {
  position: absolute;
  min-width: 18px;
  top: 50%;
  right: 3px;
  padding: 0 3px;
  height: 18px;
  font-size: 12px;
  transform: translateY(-50%);
  text-align: center;
  line-height: 18px;
  color: white;
  border-radius: 12px;
}

.tabs-item .num.warn {
  background-color: #ffb700;
}

.tabs-item .num.err {
  background-color: #ff2a41;
}

.reps-list {
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  padding-bottom: 20px;
}

.reps-list .list-title {
  height: 66px;
  line-height: 66px;
  padding-left: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-top: none;
  background-color: white;
}

.info-table {
  margin-top: 30px;
  display: none;
  overflow: auto;
  height: 550px;
  background-color: white;
}

.info-table.actived {
  display: block;
}

.head-table tr.pages th:nth-child(1),
.file-path {
  padding-left: 25px;
  text-align: left;
}

.table tr {
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #e6e6e6;
}

.table .head-table {
  background-color: #fafbfd;
  font-size: 14px;
  color: #999;
}

.table .head-table th,
.table .head-table td {
  font-weight: 400;
}

.head-table tr th.result {
  width: 126px;
}

.file-path {
  cursor: pointer;
  user-select: none;
}

.left-text {
  text-align: left;
  padding-left: 25px;
}

.text-right {
  text-align: right;
  padding-right: 35px;
}

.file-path:hover {
  color: blue;
}

.file-path:active {
  color: #ccc;
}

.mask-info {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  overflow: auto;
}

.show-instruct {
  user-select: none;
  cursor: pointer;
}

.show-instruct:hover {
  color: blue;
}

.show-instruct:active {
  color: #ccc;
}

.mask-info.hide {
  display: none;
}

.mask-info .file-info {
  position: relative;
  width: 700px;
  margin: 0 auto;
  background-color: white;
  margin-top: 126px;
  margin-bottom: 50px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.mask-info .title {
  height: 40px;
  line-height: 40px;
  padding-left: 7px;
  border-bottom: 1px solid #ccc;
}

.mask-info .box-table {
  padding: 10px;
}

.mask-info .close {
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  cursor: pointer;
}

.box-table table {
  width: 100%;
}

.mask-info .close i {
  color: #999;
  font-size: 18px;
}

.mask-info .close i:active {
  color: #ccc;
}

.box-table th,
.box-table td {
  text-align: center;
  line-height: 36px;
  border: 1px solid #ccc;
}

.box-table .name {
  width: 25%;
}

.box-table .header {
  color: #999;
  font-weight: 400;
}

.foot-cont {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
}

.footer {
  background-color: #333;
}

.box-table .opation {
  padding: 5px;
  width: 40%;
}

.box-table th,
.box-table td.unsupported {
  line-height: 1.3em;
  padding-bottom: 6px;
}

.box-table td.opation {
  vertical-align: middle;
  color: #e51c23;
}

.box-table .result {
  width: 35%;
}

.box-table td.result {
  color: #3f51b5;
  cursor: pointer;
}

.box-table td.result:active {
  color: #ccc;
}

.result {
  user-select: none;
}

.opation .opation-item {
  line-height: 20px;
}

.limit-width {
  max-width: 900px;
  word-break: break-all;
}
